### String Methods
- Common Methods
  - len
  - max
  - min
  - sorted

In [3]:
s = "Welcome To Python"

In [7]:
print(len(s))
print(max(s))
print(min(s))  #space is 32

17
y

In [10]:
print(sorted(s)) #sorted in the ASC

[' ', ' ', 'P', 'T', 'W', 'c', 'e', 'e', 'h', 'l', 'm', 'n', 'o', 'o', 'o', 't', 'y']

In [16]:
a = "India"
lowercase_a = a.lower()  # Converts to lowercase and stores it
sorted_a = sorted(a)      # Sorts the characters

print(lowercase_a)  # Output: india
print(sorted_a)     # Output: ['I', 'a', 'd', 'i', 'n']

india
['I', 'a', 'd', 'i', 'n']

In [22]:
x = 'laptoP'
x = x.capitalize()
print(x) #makes the first char as Captial

Laptop

In [23]:
x = 'laptoP'
x = x.upper()
print(x) #makes the uppercase

LAPTOP

In [ ]:
x = 'laptoP'
x = x.upper()
print(x) #makes the lowecase

In [25]:
print(x.title())
s.title()

Laptop

'Welcome To Python'

In [26]:
s.swapcase() #upper to lower and lower ro upper

'wELCOME tO pYTHON'

In [27]:
s.split()

['Welcome', 'To', 'Python']

- count
- Find
- Index

In [32]:
s = "My Language is Python."
print(s.count(' '))
print(s.count('a'))
s.count("A")

3
2

0

In [34]:
print(s.find('y')) #Gives the index
s.find('a') #retun the first index

1

4

In [37]:
##Find will give -1 and index will hrow error
print(s.find('z'))
print(s.index('z'))

-1

ValueError: substring not found

- endswith
- startswith

In [38]:
s = "My name is S"

In [39]:
s.endswith('s')

False

In [40]:
s.endswith('S')

True

In [41]:
s.startswith('M')

True

In [42]:
s.startswith('S')

False

- format

In [49]:
s1 = "Laptop"
type_is = "MAchine"

s = "My name is {},and I am a {}"

In [50]:
print(s.format(s1,type_is))

My name is Laptop,and I am a MAchine

In [51]:
s1 = "Laptop"
type_is = "MAchine"

s = "My name is {1},and I am a {0}"
print(s.format(type_is,s1))

My name is Laptop,and I am a MAchine

In [46]:
s = "Welcome {}!!! to Coding in Python "
s.format(s1)

'Welcome Laptop!!! to Coding in Python '

- isalnum
- isalpha
- isdigit
- isidentifier

In [52]:
a = "Laptop@554"
a.isalpha()

False

In [53]:
a = "Laptop@554"
a.isalnum()

False

In [56]:
a = "554"
a.isdigit()

True

In [57]:
a = "Laptop@554"
a.isidentifier()

False

In [58]:
a = "Laptop554"
a.isidentifier()

True

In [59]:
a = "list"
a.isidentifier()

True

In [60]:
a = "str"
a.isidentifier()

True

- split
- join

In [61]:
b = "India won the test Match."
b.split()

['India', 'won', 'the', 'test', 'Match.']

In [62]:
c = b.split()
c

['India', 'won', 'the', 'test', 'Match.']

In [64]:
d = ' '
d.join(c)

'India won the test Match.'

In [65]:
c = "If ,you ,run ,the, code, without ,assigning the results, to variable."
c.split(',')

['If ',
 'you ',
 'run ',
 'the',
 ' code',
 ' without ',
 'assigning the results',
 ' to variable.']

- Replace 
- Strip

In [68]:
x = "What happening?"
x.replace("What","Nothing,")

'Nothing, happening?'

In [70]:
x = "What happening?             "
print(len(x))
x

28

'What happening?             '

In [72]:
#remove th empty spce
x = x.strip()
len(x)

15